<% if user_signed_in? %>
  <%= link_to 'Add a post', new_post_path %>
<% end %>

<% if @posts.any? %>

  <% @posts.each do |post| %>

    <% if post.image != nil %>
      <%= image_tag post.image.url(:thumb) %>
    <% end %>

    <%= link_to "#{post.description}", post_path(post) %>
    <%= post.user.email %>

    <%= link_to "Like", post_likes_path(post), method: :post, class: 'like-link' %>
    <span class="likes_count"> <%= post.likes.count %></span> likes
  

  <% end %>

<% else %>

  No posts yet

<% end %>
