<% if user_signed_in? %>
  <%= link_to 'Add a post', new_post_path %>
<% end %>

<% if @posts.any? %>
<ul>
  <% @posts.each do |post| %>
    <li>
      <% if post.image != nil %>
        <%= image_tag post.image.url(:thumb) %>
      <% end %>

      <%= link_to "#{post.description}", post_path(post) %>
      <%= post.user.email %>

      <%= link_to "Like", post_likes_path(post), class: 'likes-link' %>
      <span class="likes_count"> <%= post.likes.count %> </span> likes
    </li>
  <% end %>
</ul>

<% else %>

  No posts yet

<% end %>
