<% if @post.image != nil %>
  <%= image_tag @post.image.url(:original) %>
<% end %>

<%= @post.description %>

<%= @post.user.email %>


<% if user_signed_in? && current_user.id == @post.user_id %>
  <%= link_to 'Edit post', edit_post_path(@post) %>
  <%= link_to 'Delete post', post_path(@post), method: :delete %>
<% end %>

<%= link_to 'Comment', new_post_comment_path(@post) %>

<h4>Comments</h4>
<ul>
  <% if @post.comments.any? %>
    <% @post.comments.each do |comment| %>
      <li><%= comment.content %>
      <% if comment.user_id != nil %>
        <%= comment.user.email %>
      <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
